@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.ttf");
}
body {
  font-family: "Montserrat", "Sans Serif" !important;
  margin: 0;
}
a {
  text-decoration: none;
  color: #1c92d2;
  transition: 0.1s ease all;
  cursor: pointer;
}
a:hover {
  color: #808080;
  text-decoration: underline;
}
header {
  background: #1c92d2;
  background: linear-gradient(to right, #1c92d2, #e6fbff);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
header#edit-profile {
  text-align: right;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline block;
  margin: auto;
}
button {
  font-family: "Montserrat";
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  text-align: left;
}

.sidenav-open {
  width: 250px;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #1c92d2;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #0d6392;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.avatar {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 100%;
}
.bfp {
  width: 83px;
  height: 129px;
  margin: 10px;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.hamburger-menu {
  position: absolute;
  top: 5;
  left: 5;
  z-index: 1000;
}

.splash {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding-top: 20vh;
}
.details .name,
.email {
  padding: 0;
  margin: 0;
  text-align: center;
}
.login-splash {
  padding-top: 10vh;
}
.signup-splash {
  padding-top: 5vh;
}
.card-strip {
  background-color: #1c92d2;
  border-radius: 6px;
  padding: 10px;
  width: 70%;
  margin: 10px 0;
  color: #ffffff;
}
.card-strip .left {
  float: left;
}
.card-strip .right {
  float: right;
}

#card {
  margin: 2em auto;
  max-width: 420px;
  min-width: 360px;
  height: auto;
  background-color: #f2f2f2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-bottom: 0.5em solid #1c92d2;
}
#hero-container {
  position: relative;
}
#hero {
  width: 100%;
  height: 250px;
}
#bookmark {
  padding-top: 0.25em;
  padding-right: 0.25em;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  opacity: 0.3;
  font-size: 2.5em;
  color: #f2f2f2;
}
#card-content {
  padding: 0.25em 1.5em;
}

#category {
  font-style: italic;
  margin: 0;
  color: #c3c3c3;
}

#title {
  font-weight: 900;
  margin: 0.25em 0;
  color: #2f2f2f;
}
#post-discription {
  margin: 0.5em 0;
  color: #333333;
}
#main-button {
  border: none;
  background: none;
  font-weight: 700;
  font-size: 1em;
  color: #1c92d2;
  margin-top: 0.5em;
  padding: 0;
  margin-bottom: 0.25em;
}
#main-button:focus {
  outline: none;
}
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 30%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

.logo {
  width: 100%;
  max-width: 280px;
}
.icon {
  width: 100%;
  max-width: 100px;
  align-content: center;
}
.splash-text,
.splash-button {
  margin: 50px 0 0 0;
}
.button {
  border: none;
  border-radius: 6px;
  color: #808080;
  background-color: #f4f4f4;
  padding: 10px 30px;
}
.primary-button {
  background-color: #1c92d2;
  color: #ffffff;
}
.logout-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: firebrick;
  font-size: 18px;
  padding-top: 70%;
}
.full-width {
  width: 100%;
}
.input {
  width: 60%;
  margin: 15px;
  border: none;
  padding: 10px;
  border-radius: 6px;
  background-color: #f4f4f4;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.submit {
  font-weight: 10;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 8px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #e6fbff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 6px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #1c92d2;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
  background-color: #1c92d2;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #1c92d2;
}
.dropdown-menu {
  width: 60%;
  margin: 20px;
  border: none;
  padding: 10px;
  border-radius: 6px;
  background-color: #f4f4f4;
  font-family: "Montserrat";
  font-weight: 10;
}

strong {
  color: #1c92d2;
}
.transition {
  transition: all 0.3s ease-out;
}
.heading {
  text-align: center;
  font-size: 0.8em;
}
.center-align {
  width: 300px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: table;
  margin-top: -50px;
  margin-left: -169px;
}

input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #1c92d2;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  .transition;
}
input[type="radio"]:checked + label {
  background-color: #f4f4f4;
}
